<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="SystemErrAppender" target="SYSTEM_ERR">
            <PatternLayout pattern="[%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="SystemErrAppender"/>
        </Root>
    </Loggers>
</Configuration>
