<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/kafka-connector-plugin/main.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{pipelineId}] [%X{connectorName}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{pipelineId}] [%X{destName}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.conduit" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
